<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wearweatherapp">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="com.wearweatherapp.OpenSourceActivity"></activity>
        <activity android:name="com.wearweatherapp.FavoritesActivity" />
        <activity android:name="com.wearweatherapp.ClothesClickWebView" />
        <activity android:name="com.wearweatherapp.DustActivity"></activity>
        <activity android:name="com.wearweatherapp.main.MainSearchActivity"></activity>
        <activity android:name="com.wearweatherapp.SettingsActivity" /> <!-- <activity android:name=".main.MainActivity"></activity> -->
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity8" />
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity7" />
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity6" />
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity5" />
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity4" />
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity3"></activity>
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity2"></activity>
        <activity android:name="com.wearweatherapp.TemperatureClothingActivity"></activity>
        <activity android:name="com.wearweatherapp.NewsClickViewActivity" />
        <activity android:name="com.wearweatherapp.NewsXMLActivity"></activity>
        <activity
            android:name="com.wearweatherapp.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>