<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wearweather">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ClothesClickWebView"></activity>
        <activity android:name=".DustActivity" >

        </activity>
        <activity android:name=".SettingsActivity" /> <!-- <activity android:name=".main.MainActivity"></activity> -->
        <activity android:name=".TemperatureClothingActivity8" />
        <activity android:name=".TemperatureClothingActivity7" />
        <activity android:name=".TemperatureClothingActivity6" />
        <activity android:name=".TemperatureClothingActivity5" />
        <activity android:name=".TemperatureClothingActivity4" />
        <activity android:name=".TemperatureClothingActivity3" >

        </activity>
        <activity android:name=".TemperatureClothingActivity2" >

        </activity>
        <activity android:name=".NewsClickViewActivity" />
        <activity android:name=".NewsXMLActivity" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>